@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  body {
    @apply bg-bg text-dark font-pretendard;
  }

  #root {
    min-height: 100vh;
    width: 100%;
  }
}
