@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap");
@import url("variable.css");
@import url("base.css");
@import url("header.css");
@import url("theme.toggle.css");
@import url("intro.css");
@import url("post-grid.css");
@import url("utilities/responsive.css");
@import url("hero.css");
@import url("posts.css");

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.social-links a {
  font-size: 2rem;
  color: var(--text-secondary);
  transition: var(--transition);
}

.social-links a:hover {
  scale: 1.2;
  color: black;
}

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;
  justify-content: center;
}

.tag {
  background: var(--tag);
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  font-size: 0.9rem;
  transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.tag:hover {
  /* transform: scale(1.1);
  background: var(--primary); */
  background: gray;
  color: white;
  text-shadow: var(--shadow);
}
