.content-card {
  background: var(--surface);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  margin-bottom: 2rem;
}

.skills {
  margin-top: 1rem;
}

.skill-item {
  margin-bottom: 1.5rem;
}

.progress-bar {
  background: var(--background);
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 1rem;
  margin: 0.5rem 0;
}

.progress-fill {
  background: var(--primary);
  height: 100%;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Fixed minimum width */
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}
